#/etc/systemd/system/

[Unit]
Description=Borg Backup

[Service]
Type=oneshot

Environment=BORG_PASSPHRASE=123456789
Environment=REPO=borg@192.168.11.160:/var/backup/
Environment=BACKUP_TARGET=/etc

ExecStart=/bin/borg create --stats ${REPO}::etc-{now:%%Y-%%m-%%d_%%H:%%M:%%S} ${BACKUP_TARGET}

ExecStart=/bin/borg check ${REPO}

ExecStart=/bin/borg prune --stats --keep-minutely 5 --keep-daily 90 --keep-monthly 12 --keep-yearly 1 ${REPO}

